


*{

    font-family: 'work Sans', 'sans-serif';
}

header{


    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{

display: flex;
justify-content: space-between;
align-items: center;

}

ul{

    display: flex;
}

nav li{

    list-style-type: none;
    margin-right: 35px;
    font-weight: 500;
    font-size: 1rem;
}
a{

    text-decoration: none;
    color: #424242;
}

.nav-title{

    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}

.banner-content{
max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{

    font-size: 4rem;
    font-weight:700;
    color:#131313;
}

.banner-desc{


    color:#727272;

}

.btn-primary{

   border:none;
    padding:20px 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color:#FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor:pointer;
  
}

.banner img{

    width: 100%;
}


    /* main styles */
main{

    max-width: 1440px;
    margin:70px auto;
}

.teams-img-container{

display: grid;
grid-template-columns: repeat(2,1fr);
gap: 24px;

}

.teams-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.teams-title{

    font-size: 3rem;
}
.our-content{

    font-weight:700;
}
.text-Features{

    color:#FF900E;
    font-weight: 700;
}

.teams-content{

    padding-right:70px;
    padding-left: 70px;


}

.quick-list{

    color:#727272;
    font-weight: 500;
}


.features{

    display: flex;
    gap: 100px;
    margin-top: 120px;
}
.facts-card-container{

display: flex;
justify-content: space-around;

}

.facts-title{


    font-size: 3rem;
    font-weight: 800;
}
.card {

    border:1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    
    
    
}

.card-title{

    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}

.card-stats{

    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sponsor-container{

margin-top: 130px;

}
.sponsor-title,.sponsor-desc{


    text-align: center;
}

.sponsor-title{

    
    font-size: 3rem;
    font-weight: 800;
}

.sponsor-icon{


display: flex;
justify-content: space-evenly;
margin-top: 50px;

}


.feature-card{


    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.features .teams-title{
    border-left: 5px solid #FF900E ;
    padding-left: 23px;
}

.ten-years-badge{

    background-color: #FF900E;
    font-size: 3rem;
    color:white;
    font-weight: 700;
    width: 342px;
    padding: 40px;
    text-align: center;
  position: relative;
  bottom: 100px;
    
}

.feature-img img{
height: 90%;

    margin-left: 100px;
}
.ten-years-badge h2{

    font-size: 4rem;
    margin: 0;
   

}
.ten-years-badge p{

    font-size: 1.5rem;
}

footer{

    background-color: blueviolet;
 
    margin: 0;
    text-align: center;
    color:white;
    padding:55px;

}
/* mobile devices */
@media screen and (max-width:576px) {

    header{

        padding:20px;
    }
    nav,.teams-container{
        flex-direction: column;
    }

    .teams-img-container{

        grid-template-columns:1fr;
    }
    .teams-content,.facts-card-container{
        padding-left:20px;
        padding-right:20px;
    }

    

    .features{

        flex-direction: column;
    }

    .feature-img img{
width: 90%;
margin-left: 0;
       
    }

    .ten-years-badge{

        position: static;
        max-width: 300px;
    }
.facts-card-container{

    flex-direction: column;
    gap: 20px;
    
    }

    .sponsor-icon{

        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap:50px;
    }
}
/* medium tab device */
@media screen and (min-width:577px) and (max-width:960px){


    nav,.teams-container{

        flex-direction: column;
    }
    header{
        padding:40px;
    }

    .facts-card-container{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
    .sponsor-icon{

        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .features{

        flex-direction: column;
    }
    .feature-img img{

        width:90%;
        margin-left:0;
    }
}